<div fxLayout="row">
  <form [formGroup]="fieldsForm" fxFlex="100" fxLayout="row">
    <ng-container *ngFor="let field of fields" fxFlex="50">
      <div *ngIf="field.type === 'string'" fxFlex="50">
        <mat-form-field>
          <mat-label>
            {{field.name}}
          </mat-label>
          <input matInput [formControlName]="field.key">
        </mat-form-field>
      </div>
    </ng-container>
  </form>
</div>

<div mat-dialog-actions>
  <button
    *ngIf="data.enableDelete"
    mat-fab
    color="primary"
    aria-label="Delete"
    [mat-dialog-close]="{ ticket: data.ticket, delete: true }">
    <mat-icon>delete</mat-icon>
  </button>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="submit()">OK</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>
