<div fxLayout="row">
  <form [formGroup]="fieldsForm" fxFlex="100" fxLayout="row wrap">
    <h2 fxFlex="100" class="center">{{data?.ticket?.id ? 'Intervention -' + data?.ticket?.ticketNumber : 'Nouvelle intervention'}}</h2>

    <div fxFlex="50" fxLayout="row wrap" class="overflow-scroll">
      <h3 fxFlex="100">Intervention Info</h3>
      <ng-container *ngFor="let field of fields; let i = index">
        <div *ngIf="field.type === 'string' && field.kind === 'info'" fxFlex="50" class="form-field-container">
          <mat-form-field fxFlex="100" class="form-field-class">
            <mat-label>
              {{field.name}}
            </mat-label>
            <input matInput [formControlName]="field.key">
          </mat-form-field>
        </div>
        <div *ngIf="field.type === 'checkbox' && field.kind === 'info' && fieldsForm?.controls[field.key]"
             class="form-field-container"  fxFlex="50">
          <div fxFlex="100" class="form-field-class">
            <mat-slide-toggle [formControlName]="field.key" name="{{field.name}}"
              > {{field.name}}
            </mat-slide-toggle>
          </div>
        </div>
        <div *ngIf="field.type === 'dateTime' && field.kind === 'info'" fxFlex="50" class="form-field-container">

        <mat-form-field fxFlex="100" class="form-field-class">
          <input matInput [ngxMatDatetimePicker]="picker" placeholder="{{field.name}}" [formControlName]="field.key"
                 >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [showSpinners]="false" [showSeconds]="false"
                                   [stepHour]="1" [stepMinute]="1"
                                   [touchUi]="true" [hideTime]="false">
          </ngx-mat-datetime-picker>
        </mat-form-field>
        </div>
      </ng-container>
    </div>

    <div fxFlex="50" fxLayout="row wrap" class="overflow-scroll">
      <h3 fxFlex="100">Travail effectué</h3>
      <ng-container *ngFor="let field of fields">
        <div *ngIf="field.type === 'string' && field.kind === 'work'" fxFlex="50" class="form-field-container">
          <mat-form-field fxFlex="100" class="form-field-class">
            <mat-label>
              {{field.name}}
            </mat-label>
            <input matInput [formControlName]="field.key">
          </mat-form-field>
        </div>
        <div *ngIf="field.type === 'checkbox' && field.kind === 'work' && fieldsForm?.controls[field.key]"
             class="form-field-container" fxFlex="50">
          <div fxFlex="100" class="form-field-class">
            <mat-slide-toggle [formControlName]="field.key" name="{{field.name}}"
            > {{field.name}}
            </mat-slide-toggle>
          </div>
        </div>
      </ng-container>
    </div>

  </form>
</div>

<div mat-dialog-actions>
  <button
    *ngIf="data?.enableDelete"
    mat-fab
    color="primary"
    aria-label="Delete"
    [mat-dialog-close]="{ ticket: data?.ticket, delete: true }">
    <mat-icon>delete</mat-icon>
  </button>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="submit()">OK</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>
