<mat-toolbar color="primary">
  <img src="assets/images/cpb_logo_only.png" class="logo-style">
  <span>CPB Astra</span>
</mat-toolbar>

<div class="content-wrapper">
  <button (click)="newTicket()" mat-button>
    <mat-icon>add</mat-icon> Nouvelle Intervention
  </button>

<div class="container-wrapper">
  <div class="container">
    <h2>Créé</h2>

    <mat-card
      cdkDropList
      id="todo"
      #todoList="cdkDropList"
      [cdkDropListData]="todo | async"
      [cdkDropListConnectedTo]="[doneList, inProgressList]"
      (cdkDropListDropped)="drop($event)"
      class="list">
      <p class="empty-label" *ngIf="(todo | async)?.length === 0">Empty list</p>
      <app-ticket (edit)="editTicket('todo', $event)" *ngFor="let ticket of todo | async" cdkDrag [ticket]="ticket"></app-ticket>
    </mat-card>
  </div>

  <div class="container">
    <h2>En cours</h2>

    <mat-card
      cdkDropList
      id="inProgress"
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgress | async"
      [cdkDropListConnectedTo]="[todoList, doneList]"
      (cdkDropListDropped)="drop($event)"
      class="list">
      <p class="empty-label" *ngIf="(inProgress | async)?.length === 0">Empty list</p>
      <app-ticket (edit)="editTicket('inProgress', $event)" *ngFor="let ticket of inProgress | async" cdkDrag [ticket]="ticket"></app-ticket>
    </mat-card>
  </div>

  <div class="container">
    <h2>Terminé</h2>

    <mat-card
      cdkDropList
      id="done"
      #doneList="cdkDropList"
      [cdkDropListData]="done | async"
      [cdkDropListConnectedTo]="[todoList, inProgressList]"
      (cdkDropListDropped)="drop($event)"
      class="list">
      <p class="empty-label" *ngIf="(done | async)?.length === 0">Empty list</p>
      <app-ticket (edit)="editTicket('done', $event)" *ngFor="let ticket of done | async" cdkDrag [ticket]="ticket"></app-ticket>
    </mat-card>
  </div>

  <div class="container">
    <h2>Tous</h2>

    <mat-card
      cdkDropList
      id="tickets"
      #doneList="cdkDropList"
      class="list">
      <p class="empty-label" *ngIf="(tickets | async)?.length === 0">Empty list</p>
      <app-ticket (edit)="editTicket('tickets', $event)" *ngFor="let ticket of tickets | async" [ticket]="ticket"></app-ticket>
    </mat-card>
  </div>
</div>
</div>
