<mat-toolbar color="primary">
  <img src="assets/images/cpb_logo_only.png" class="logo-style">
  <span>CPB Astra</span>
</mat-toolbar>

<div class="content-wrapper" class="overflow-scroll" fxLayout="row wrap">
  <div fxLayout="row" fxFlex="100">
    <button (click)="newTicket()" mat-button>
      <mat-icon>add</mat-icon> Nouvelle Intervention
    </button>

<!--    <span fxLayout="row" fxLayoutAlign="start center">-->
<!--      <mat-icon *ngIf="listView" (click)="listView = false" class="pointer">view_module</mat-icon>-->
<!--      <mat-icon *ngIf="!listView" (click)="listView = true" class="pointer">view_headline</mat-icon>-->
<!--    </span>-->

  </div>



  <div *ngIf="!listView" class="container-wrapper overflow-scroll" fxFlex="100">
    <div class="container" fxFlex="30">
      <h2>Créé</h2>

      <mat-card
        cdkDropList
        id="todo"
        #todoList="cdkDropList"
        [cdkDropListData]="todo | async"
        [cdkDropListConnectedTo]="[doneList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(todo | async)?.length === 0">Empty list</p>
        <app-ticket (edit)="editTicket('todo', $event)" *ngFor="let ticket of todo | async" cdkDrag [ticket]="ticket"></app-ticket>
      </mat-card>
    </div>

    <div class="container" fxFlex="30">
      <h2>En cours</h2>

      <mat-card
        cdkDropList
        id="inProgress"
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress | async"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(inProgress | async)?.length === 0">Empty list</p>
        <app-ticket (edit)="editTicket('inProgress', $event)" *ngFor="let ticket of inProgress | async" cdkDrag [ticket]="ticket"></app-ticket>
      </mat-card>
    </div>

    <div class="container" fxFlex="30">
      <h2>Terminé</h2>

      <mat-card
        cdkDropList
        id="done"
        #doneList="cdkDropList"
        [cdkDropListData]="done | async"
        [cdkDropListConnectedTo]="[todoList, inProgressList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(done | async)?.length === 0">Empty list</p>
        <app-ticket (edit)="editTicket('done', $event)" *ngFor="let ticket of done | async" cdkDrag [ticket]="ticket"></app-ticket>
      </mat-card>
    </div>


  </div>

  <div *ngIf="listView" fxLayout="row wrap" fxFlex="100">
    <div class="container px-8" fxLayout="row wrap" fxFlex="100">
      <h2 fxFlex="100">Interventions</h2>

      <mat-card fxFlex="100"
        cdkDropList
        id="tickets"
        #doneList="cdkDropList"
        class="list">
        <p class="empty-label" *ngIf="(tickets | async)?.length === 0">Empty list</p>
        <app-ticket (edit)="editTicket('tickets', $event)" *ngFor="let ticket of tickets | async" [ticket]="ticket"></app-ticket>
      </mat-card>
    </div>
  </div>

</div>
